server {
        listen 80;
        server_name nginx1.kaisen.lan;

        location / {

        return 301 https://nginx1.kaisen.lan;
        }
}

server {
	listen 443;
	server_name nginx1.kaisen.lan;
	root /srv/nginx1;
	ssl on;
	ssl_certificate /etc/ssl/private/nginx1.kaisen.lan.pem;
	ssl_certificate_key /etc/ssl/private/nginx1.kaisen.lan.pem;
	ssl_protocols TLSv1.2 TLSv1.3;
}
